/** Color palette
* Background: #e5e5e5
* Font: #000000
* Highlight: #000066
*/

/* || GENERAL STYLES */

* {
    font-size: 12px;
    font-family: sans-serif;
    background-color: #e5e5e5;
}
body {
    margin: auto;
    width: 80%;
    max-width: 1280px;
}
p {
    text-indent: 1em;
    color: #000000;
}
h1,
h2,
h3 { text-align: center; }
h1 { font-size: 1.8rem; }
h2 { font-size: 1.4rem; }
h3 { font-size: 1.2rem; }
abbr {
    font-variant: small-caps;
    color: #000066;
}
li {
    list-style-type: none;
    line-height: 1.5em;
    text-align: center;
}
footer { margin: 4%; }
footer a {
    border-style: solid;
    border-width: 2px;
    padding: 0.5em;
}

/* || SITEWIDE */

div.summary {
    text-align: right;
}
.main {
    line-height: 1.5;
}
section.intro {
    height: 550px;
}
#design-archives {
    position: relative;
}
header[role="banner"] {
    background-color: black;
    color: white;
}
header[role="banner"] h1 {
    background-color: inherit;
    display: inline;
    padding-left: 1em;
    padding-right: 1em;
}
header[role="banner"] h2 {
    background-color: inherit;
    display: inline;
}
.page-wrapper {
    position: relative;
    border-style:dashed;
}
.explanation {
    margin-right: 35%;
    border-right: 1px solid #1f295c;
    padding-right: 2%;
    width: 60%;
}
.sidebar .wrapper .design-selection {
    /* float: right; */
    position: absolute;
    bottom: 840px;
    right:10%;
    padding: 2%;
}

/* Pseudo-selectors */
a {
    color:#000066;
    font-weight: bold;
}
a:hover {
    color:rgb(100, 100, 202);
}
a:visited {
    font-weight: normal;
}
.main .explanation :nth-child(2):first-letter {
    font-size: 300%;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    float: left;
}
nav[role=navigation] ul li * {
    border-top-style: solid;
    border-top-width: 1px;
}
nav[role=navigation] ul :last-child a {
    border-bottom-style: solid;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}