/** Paleta de cores
* fundo: #e5e5e5
* fonte: #000000
* destaque: #000066
*/

/* Aspectos gerais */
* {
    font-size: 12px;
    font-family: sans-serif;
    background-color: #e5e5e5;
}
body {
    margin: auto;
    width: 80%;
    max-width: 1280px;
}
p {
    text-indent: 1em;
    color: #000000;
}
h1, h2, h3 {
    text-align: center;
}
h1 {
    font-size: 1.8rem;
}
h2 {
    font-size: 1.4rem;
}
h3 {
    font-size: 1.2rem;
}
abbr {
    font-variant: small-caps;
}
div.summary {
    text-align: right;
}
.main {
    line-height: 1.5;
}
abbr {
    color: #000066;
}
section.intro {
    height: 550px;
}
#design-archives {
    position: relative;
}
header[role="banner"] {
    background-color: black;
    color: white;
}
header[role="banner"] h1 {
    background-color: inherit;
    display: inline;
    padding-left: 1em;
    padding-right: 1em;
}
header[role="banner"] h2 {
    background-color: inherit;
    display: inline;
}
li {
    list-style-type: none;
    line-height: 1.5em;         /* 1em fica muito apertado */
    text-align: center;
}
footer {
    margin: 4%;
}
footer a {
    border-style: solid;
    border-width: 2px;
    padding: 0.5em;
}
.page-wrapper {
    position: relative;
    border-style:dashed;
}
.explanation {
    margin-right: 35%;
    width: 60%;
}